<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
  <% } %>

  <!-- LOGIN FORM -->
  <form action="/signup" method="post">
    <label>Email</label>
    <input type="text"  name="email">
    <label>Password</label>
    <input type="password" name="password">
    <button type="submit">Signup</button>
  </form>

  <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>
